/* Styles for my main IT261 website */

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background:beige;
}

header {
    overflow:hidden;
    background: indianred;
}

.header-inner {
    max-width:1100px;
    margin:20px auto;
}

#logo {
    float:left;
    width:180px;
    margin-bottom:20px;
}

nav {
    height:50px;
    float:right;

}

nav ul {
    float:right;
}

nav li {
    float: left;
    list-style-type: none;
    margin-left:30px;
}

nav a {
    text-decoration:none;
    color:whitesmoke;
    font-size: 20px;
    letter-spacing: 0.2em;
}

.current {
    color:darkslategrey;
    font-weight:bold;
}

#wrapper {
    max-width:1100px;
    margin:20px auto;
}

#hero {
    height:300px;
    margin-bottom: 20px;
    background:red;
}

/* our values are based on a 940 px grid 580 divided by 940 */
main {
    width:61.70%;
    height:auto;
    background: lightblue;
    float: left;
    margin-bottom:20px;
}

aside {
    width:36.17%;
    float: right;
    height:300px;
    background: lightcoral;
}

footer {
    height:50px;
    line-height:50px;
    border-top:1px dotted #333;
    clear:both;
}

footer ul {
    float:right;
}

footer li {
    float:left;
    list-style-type: none;
    margin-left:20px;
}

/* special daily page */
img.daily {
    width: 340px;
    margin: 20px;
}

p.daily{
    margin: 10px;
    font-size: 14px;
    font-family: Verdana, Helvetica, sans-serif;
    line-height: 28px;
}

h2.daily, h3.daily {
    margin: 10px;
}

li.daily {
    list-style-type: none;
    margin-left:30px;
}

a.daily {
    text-decoration:none;
    font-size: 14px;
    font-family: Verdana, Helvetica, sans-serif;
    line-height: 28px;
}

/* calculator page */
form {
    width:400px;
    margin:30px auto;
}

label {
    display:block;
    margin-bottom:5px;
}

fieldset {
    padding:8px;
    border:1px solid black;
}

.boxcalc {
    width:400px;
    margin:10px auto;
    border:1px solid black;
    padding:8px;
}

input {
    margin-bottom:10px;
}

input[type=radio] {
    margin-right:5px;
}

form ul {
    margin-left:10px;
    margin-bottom:10px;
    list-style-type:none;
}

.error {
    display:block;
    color:red;
    text-align:center;
    font-size:1.4em;
    margin:15px auto;
    padding:10px;
    width:400px;
    border:1px solid black;
}

.h2calc {
    color:red;
    text-align:center;
    font-size:2em;

}

select {
    display:block;
    margin-bottom:10px;
}

/* contact page */
main.contact {
    width:61.70%;
    height:auto;
    background:darkseagreen;
    float: left;
    margin-bottom:20px;
    padding: 10px;
}

aside.contact {
    width:36.17%;
    float: right;
    height:auto;
    background:cadetblue;
}

img.contact {
    width: 250px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:30px;
}

h3.contact {
    text-align:center;
    color:darkolivegreen;
    font-style: oblique;
    font-size: 25px;
    margin: 10px;
}

h2.contact {
    text-align:center;
    color:darkgreen;
    font-size: 23px;
    margin: 20px auto;
}

p.contact {
    font-size:1.2em;
    line-height: 22px;
    margin:10px;
}

.contacterror {
    display:block;
    color:darkolivegreen;
    font-size:1.1em;
    margin:5px auto;
    padding:7px;
    padding-bottom:15px;
    width:400px;
    font-style: italic;
}

.contactform {
    padding:7px;
    border:2px solid black;
    font-size:1.1em;
    width:95%;
}

.contactfield {
    border: none;
}

input[type=submit] {
    font-size: 20px;
    color:#2e5677;
    display:block;
    margin:-20px auto;
    padding:5px 15px; 
    background-color:lightsalmon; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.reset {
    display:block;
    margin:20px auto;
    font-size: 20px;
}

/*radom pics index*/
#herorandom {
    height:auto;
    margin-bottom: 20px;
    background:lightgoldenrodyellow;
}
